@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.about {
  padding-left: 2.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-color;

  &__title {
    height: 10vh;
    display: flex;
    align-items: center;
    margin: 0;
    color: colors.$primary-color;
    font-family: fonts.$font-heading;
    font-size: 2.5em;
  }

  .about-body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      img {
        height: 100%;
      }
    }

    &__text {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: colors.$primary-color;
      font-family: fonts.$font-body;
      font-size: 1.25em;
      font-weight: 500;
      padding-right: 0.75em;
    }
  }
}

@include media.breakpoint(desktop) {
  .about {
    padding-left: 3em;

    &__title {
      height: 15vh;
      font-size: 4em;
    }
    .about-body {
      width: 100%;
      height: 85vh;
      flex-direction: row;

      &__img {
        width: 45%;
        height: 100%;
        flex-direction: row;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__text {
        width: 55%;
        height: 100%;
        padding-right: 0;
        justify-content: flex-start;
      }
    }
  }
}

@include media.breakpoint(larges-creen) {
  .about {
    padding-left: 5em;

    &__title {
      font-size: 5em;
    }
    .about-body {
      &__img {
        width: 35%;
      }

      &__text {
        width: 65%;
        font-size: 1.75em;
      }
    }
  }
}
