@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.contact {
  background-color: colors.$primary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1em;
  padding: 1em;

  .contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 2em;
    gap: 1em;
  }

  .contact-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.25em;
    text-shadow: 0.025rem 0.025rem black;
    color: colors.$bg-color;

    &--logo {
      font-size: 1.5em;
    }

    &--link {
      color: inherit;
      font-size: 1em;
      font-family: fonts.$font-body;
      text-decoration: none;
    }
  }
}

@include media.breakpoint(desktop) {
  .contact {
    height: 10vh;

    .contact-container {
      gap: 5em;
    }
    .contact-card {
      gap: 0.5em;
      &--logo {
        font-size: 3em;
      }
      &--link {
        font-size: 1.25em;
      }
    }
  }
}

@include media.breakpoint(larges-creen) {
  .contact {
    .contact-card {
      &--logo {
        font-size: 3.5em;
      }
      &--link {
        font-size: 1.5em;
      }
    }
  }
}
