@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.navbar {
  height: 5vh;
  background-color: colors.$bg-color;

  display: flex;
  flex: row;
  align-items: center;
  justify-content: flex-end;

  gap: 0.5em;
  padding: 0 0.75em;

  &__link {
    color: colors.$primary-color;
    font-family: fonts.$font-heading;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
  }
}

.home {
  background-color: colors.$primary-color;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1em;

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: colors.$bg-color;
    gap: 1em;

    &--name {
      font-size: 2em;
      font-weight: bold;
      font-family: fonts.$font-heading;
      text-shadow: 0.08rem 0.08rem black;
    }
    &--title {
      font-size: 1em;
      font-family: fonts.$font-heading;
      text-shadow: 0.08rem 0.08rem black;
    }
  }

  img {
    width: 50%;
  }

  @include media.breakpoint(desktop) {
    img {
      width: 30%;
    }
  }
}
