@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.home {
  height: 100vh;
  padding: 0 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: colors.$primary-color;

  &__title {
    color: colors.$bg-color;
    margin: 1 0em;
    font-size: 2em;
    font-weight: bold;
    font-family: fonts.$font-heading;
    text-shadow: 0.08rem 0.08rem black;
  }

  @include media.breakpoint(desktop) {
    padding: 0 4em;

    &__title {
      font-size: 3em;
    }
  }

  @include media.breakpoint(larges-creen) {
    padding: 0 5em;

    &__title {
      font-size: 4em;
    }
  }
}
