@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.navbar {
  height: 5vh;
  width: 100%;
  background-color: colors.$bg-color;

  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &__link {
    margin: 0.5em;
    color: colors.$primary-color;
    font-family: fonts.$font-heading;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
  }
}

@include media.breakpoint(desktop) {
  .navbar {
    justify-content: right;
    height: 10vh;
    gap: 1em;
    &__link {
      font-size: 1.75em;
    }
  }
}

@include media.breakpoint(larges-creen) {
  .navbar {
    justify-content: right;
    height: 10vh;
    gap: 2em;
    &__link {
      font-size: 2em;
    }
  }
}
