@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: colors.$bg-color;

  &__title {
    color: colors.$primary-color;
    font-size: 2.5em;
    font-weight: bold;
    font-family: fonts.$font-heading;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 3em;
    padding: 2em;
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;

    &__image {
      width: 200px;
      height: 250px;
      object-fit: cover;
      border-radius: 1.5em;
    }
    &__title {
      font-size: 1.25em;
      font-family: fonts.$font-body;
      font-weight: bold;
      color: colors.$primary-color;
    }
    &__icons {
      display: flex;
      flex-direction: row;
      gap: 0.75em;
      color: colors.$primary-color;

      &--link,
      &--link:visited,
      &--link:hover,
      &--link:active {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@include media.breakpoint(desktop) {
  .projects {
    &__title {
      color: colors.$primary-color;
      font-size: 4em;
    }
    .projects-container {
      gap: 8em;
      margin: 0 10em;
      padding-bottom: 5em;
    }
    .projects-card {
      &__image {
        width: 250px;
        height: 350px;
      }
      &__title {
        font-size: 1.5em;
      }
      &__icons {
        font-size: 1.25em;
      }
    }
  }
}

@include media.breakpoint(larges-creen) {
  .projects {
    &__title {
      color: colors.$primary-color;
      font-size: 5em;
    }
    .projects-container {
      gap: 15em;
      padding-bottom: 5em;
    }
    .projects-card {
      &__image {
        width: 250px;
        height: 300px;
      }
      &__title {
        font-size: 1.5em;
      }
      &__icons {
        font-size: 1em;
      }
    }
  }
}
