@use "../partials/colors";
@use "../partials/fonts";
@use "../mixins/media";

.skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.$bg-color;
  background-color: colors.$primary-color;

  &__title {
    height: 10vh;
    font-family: fonts.$font-heading;
    text-shadow: 0.08rem 0.08rem black;
    font-size: 2.5em;
  }

  &__list {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 4em;
    padding-bottom: 3em;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-shadow: 0.05rem 0.05rem black;

    &--logo {
      font-size: 3em;
    }

    &--title {
      font-size: 1em;
      font-family: fonts.$font-body;
    }
  }
}

@include media.breakpoint(desktop) {
  .skills {
    &__title {
      height: 15vh;
      font-size: 4em;
    }
    &__list {
      height: 85vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 7.5em;
    }
    &__card {
      &--logo {
        font-size: 3.5em;
      }
    }
  }
}

@include media.breakpoint(larges-creen) {
  .skills {
    &__title {
      font-size: 5em;
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
    &__card {
      &--logo {
        font-size: 4.5em;
      }
      &--title {
        font-size: 1.5em;
      }
    }
  }
}
