//$bg-color: #d6d8d7;
//$bg-color2: #d5d5d8;
$bg-color: #e9e9df;
//$primary-color: #e52c2a;
$primary-color: #df3f32;
//$primary-color3: #cd3333;
$secondary-color: #343434;
//$secondary-color2: #05141d;
$primary-text-color: black;
//$primary-text-color2: #27272a;
